#################
## Node.js
#################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.old

pids
logs
results

npm-debug.log
node_modules
.npmignore

#############
## Vim
#############
*~
*.swp

