
html { height: 100% }
body { height: 100%; margin: 0; padding: 1em; background-color: #EEE; }
label { font: larger; padding: 1em 1em 1em 0; }
#map-canvas { height:85%; }
#speedSlider { width: 30%; }
#top { padding-bottom: 0.5em; }
#speed { border: 0; background-color: #EEE; }
#frompicker, #topicker { width:20em; background-color: #DDD; border:solid 1px #BBB; color: #222; height: 28px; padding-left: 0 1em 0 1em; box-shadow: 2px 2px 0 #828181 inset; }
